$grid-columns:      22;
$grid-gutter-width: 20px;

$grid-breakpoints: (
  xs: 0,
  sm: 1199px,
  md: 1200px,
  lg: 1450px,
  xl: 1700px  // <-- modified!
);

$container-max-widths: (
  sm: 1199px,
  md: 1200px,
  lg: 1450px,
  xl: 1700px  // <-- modified!
);

$light-gray:    #007bff !default;

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  1199px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  1200px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  1450px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1450px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


@import './node_modules/bootstrap/scss/bootstrap.scss';
@import '/src/scss/fullpage.css';
@import '/src/scss/aos.css';

@font-face {
    font-family: "RobotoRegular";
    src: url(/new-style/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: "RobotoLight";
    src: url(/new-style/fonts/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: "RobotoBold";
    src: url(/new-style/fonts/RobotoCondensed-Bold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    // background: url(/new-style/images/bg_first.png) repeat fixed;
    background: url(/new-style/images/bg_first.jpg) repeat fixed;
    position: relative;
}

.menu-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: absolute;
    width: 100%;
    z-index: 9;
}

.menu-block .shop-link a {
    font-family: 'RobotoRegular',sans-serif;
    font-size: 18px;
    letter-spacing: 1.4px;
    color: #fff;
}

.slider-content,
.about-content,
.assortiment,
.cooperation,
.relations {
    position: relative;
    overflow: hidden;
}

.container.full-vertical {
    height: 100%;
}

.link-button {
    padding: 18px 26px;
    width: 250px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-button:hover {
    text-decoration: none;
    color: #fff;
}

.icon {
    display: flex;
    width: 25px;
    height: 25px;
    overflow: hidden;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

h3 {
    font-family: "RobotoBold", sans-serif;
    font-size: 100px;
    color: #fff;
}

.text-paragraph {
    font-family: "RobotoRegular", sans-serif;
    font-size: 20px;
    color: #fff; 
    opacity: .7;
}

.trees-left {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 1400ms ease-in-out;
    will-change: transform;
    background: -105%/70% 250% no-repeat fixed url(/new-style/images/trees-left.png);
}

.trees-right {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 1400ms ease-in-out;
    will-change: transform;
    background: 130%/50% 250% no-repeat fixed url(/new-style/images/trees-right.svg);
}

.snow-animation {
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: url(/new-style/images/snow.png) no-repeat;
}

.smoke-1-animation {
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 200%;
    bottom: 0;
    right: 0;
    background: 150px / 100% 100% url(/new-style/images/smoke-first.svg) no-repeat;
}

.smoke-2-animation {
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 1200ms ease-in-out;
    will-change: transform;
    background: 150px / 100% 100% url(/new-style/images/smore-second.svg) no-repeat;
}

.light-ellipse {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    opacity: 1;
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    transition: all 1400ms ease-in-out;
    will-change: transform;
    background: url(/new-style/images/light-ellipse.png) no-repeat 100%/100%;
    background-size: cover;
}

.slider-content .fp-slides {
    z-index: 999999;
}

.slider-content .item-image {
    height: 100%;
}

.item-block {
    position: relative;
    z-index: 999999999;
}

.item-category span {
    font-family: "RobotoBold", sans-serif;
    font-size: 36px;
    color: #fff;
}

.item-title span {
    font-family: "RobotoBold", sans-serif;
    font-size: 120px;
    line-height: normal;
    color: #fff;
}

.item-description {
    margin-top: 30px;
}

.item-description span {
    font-family: "RobotoRegular", sans-serif;
    font-size: 24px;
    line-height: normal;
    color: #fff;
    opacity: .7;
}

.item-price {
    margin-bottom: 20px;
}

.item-price span {
    font-family: "RobotoBold", sans-serif;
    font-size: 40px;
    color: #fff;
}

.item-actions {
    display: flex;
}

.show-more__button {
    font-family: "RobotoBold", sans-serif;
    font-size: 18px;
    color: #fff;
    border: 1px solid #fff;
    margin-right: 20px;
    transition: .2s ease-in-out;
}

.add-item__button {
    font-family: "RobotoBold", sans-serif;
    font-size: 18px;
    color: #fff;
    background: #6C85C7;
    border: 1px solid #6C85C7;
    transition: .2s ease-in-out;
}

.show-more__button:hover {
    background: rgba(255, 255, 255, .3);
}

.add-item__button:hover {
    border: 1px solid #5e6f9e;
    background: #5e6f9e;
}

// .slide,.pasha-slide {
//     position: relative;
// }

// .pasha-slide .item-title {
//     margin-top: 190px;
// }


.pasha-slide .pasha-medved {
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    background: url(/new-style/images/pasha_i_medved.png) no-repeat;
    background-size: contain;
    background-position: 110%;
}

.pasha-slide .home-forest {
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    background: 0 / 100% 100% url(/new-style/images/fs_forest.png) no-repeat;
}

.pasha-slide .item-title .brand {
    margin-top: 20px;
    opacity: .7;
    font-family: "RobotoBold",sans-serif;
    font-size: 120px;
    line-height: normal;
    color: #fff;
}

.pasha-set {
    // position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    bottom: 0;
}

.pasha-set .pasha {
    position: absolute;
    z-index: 15;
    width: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.pasha-set .bear {
    position: absolute;
    z-index: 10;
    width: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.pasha-slide .brand-banner {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    top: 20%;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 9;
    font-family: "RobotoBold",sans-serif;
    font-size: 120px;
    line-height: normal;
    color: #fff;
}

.pasha-slide .about-brand {
    position: absolute;
    text-align: center;
    width: 420px;
    bottom: 5%;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 999;
    font-family: "RobotoRegular",sans-serif;
    font-size: 24px;
    line-height: normal;
    color: #fff;
    opacity: .7;
}

.item-category span {
    text-align: center;
    font-family: "RobotoRegular",sans-serif;
    line-height: normal;
    color: #fff;
}

.slider-block {
    position: absolute;
    z-index: 99999999;
    bottom: 0;
    left: 0;
}

.slider-block.travel-bag {
    display: none;
}

.slider-content .item-image.pasha-set-mobile {
    background: url(/new-style/images/pasha-bear-2.png) no-repeat 80% / cover;
}

.slider-content .item-image.travel-bag-preview {
    background: url(/new-style/images/travel-bag.png) no-repeat 80% / cover;
}

.slider-content .item-image.delovoy-rukzak-preview {
    background: url(/new-style/images/delovoy-rukzak.png) no-repeat 65% / cover;
}

.slider-content .item-image.big-bag-preview {
    background: url(/new-style/images/big-bag.png) no-repeat 75% / cover
}


.slider-items {
    display: flex;
}

.slider-item {
    width: 170px;
    height: 170px;
}

.slider-item.active {
    border: 1px solid #fff;
}

.slider-item:hover {
    cursor: pointer;
    border: 1px solid #fff;
}

.slider-actions {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    z-index: 999999;
    bottom: 0;
    right: 0;
}

.slider-actions .relative-items {
    display: flex;
    flex-flow: column wrap;
    width: 170px;
    height: 170px;
}
.slider-actions .relative-items > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-actions .relative-items .relative-item__preview img {
    width: 170px;
    height: 130px;
}

.slider-actions .relative-items .relative-item__link a {
    text-align: center;
    background: #6C85C7;
    color: #fff;
    padding: 8px 20px;
    font-family: "RobotoBold", sans-serif;
    font-size: 16px;
    width: 100%;
    transition: .2s ease-in-out;
}

.slider-actions .relative-items .relative-item__link a:hover {
    background: #5e6f9e;
    text-decoration: none;
}

.slider-arrows {
    background: #fff;
}

.slider-arrows .numbers,
.slider-arrows .arrows {
    display: flex;
    flex-flow: row;
}

.slider-arrows .arrow-left,
.slider-arrows .arrow-right,
.slider-arrows .current-number,
.slider-arrows .total-number {
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider-arrows .arrow-left span,
.slider-arrows .arrow-right span {
    background: url(/new-style/images/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 10px;
}

.slider-arrows .arrow-left span {
    transform: rotate(180deg);
}


.slider-arrows .total-number:after {
    content: '';
    width: 20px;
    height: 1px;
    background: #000;
    position: absolute;
    left: -10%;
}

.slider-button {
    cursor: pointer;
}

.slider-button:hover {
    background: #F0F0F0;
}

.slider-arrows .current-number {
    font-family: "RobotoBold", sans-serif;
    font-size: 24px;
}

.slider-arrows .total-number {
    font-family: "RobotoBold", sans-serif;
    font-size: 18px;
}

.fp-slidesNav.fp-bottom {
    visibility: hidden;
    z-index: 9999999999999;
    text-align: center;
    bottom: 10px;
}

.fp-slidesNav ul li {
    width: 12px;
    height: 12px;
    margin: 7px 15px;
}

.fp-slidesNav ul li a span {
    background: #fff;
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
}

.fp-slidesNav ul li a.active span {
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
    border: 1px solid white;
    background: none;
}

.slider-actions-mobile {
    visibility: hidden;
    position: absolute;
    z-index: 99999999;
    height: 70px;
    width: 100%;
    bottom: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.mobile-arrow-right,
.mobile-arrow-left {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.mobile-arrow-right .icon,
.mobile-arrow-left .icon {
    background-image: url(/new-style/images/mobile-arrow.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.mobile-arrow-right .icon {
    transform: rotate(180deg);
}

.mobile-buy {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.icon-cart {
    background-image: url(/new-style/images/icon-cart.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    left: -1px;
}

.about-content .house-center {
    position: absolute;
    height: 100%;
    width: 70%;
    left: 15%;
    right: 0;
    bottom: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 1400ms ease-in-out;
    will-change: transform;
    background: 90% 150% / 100% no-repeat url(/new-style/images/house.svg);
}

.about-content .company-slogan {
    padding: 0 25px;
    margin-top: 35px;
    color: #fff;
    font-family: "RobotoRegular", sans-serif;
    font-size: 24px;
    opacity: .7;
}

.assortiment .show-more__button {
    margin-top: 40px;
}

.relations-first-img,
.relations-secong-img {
    position: relative;
    z-index: 9999;
    margin-top: 40px;
}

.ice-age {
    height: 150px;
    position: relative;
    overflow: hidden;
}

.ice-age .ice-bg {
    background-image: url(/new-style/images/smoke-ice.png);
    background-size: contain;
    width: 100%;
    height: 150px;
    z-index: 999999;
    position: relative;
}

.ice-age .trees-left {
    position: absolute;
    height: 200%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: -100%/69% 205% no-repeat url(/new-style/images/trees-left.png);
}

.ice-age .trees-right {
    position: absolute;
    height: 500%;
    width: 100%;
    bottom: 0;
    right: 0;
    background: 130%/50% 250% no-repeat url(/new-style/images/trees-right.svg);
}

.section-content {
    position: relative;
    z-index: 99999;
}

.purse-anim {
    position: absolute;
    bottom: 72%;
    left: 22%;
    height: 100px;
    width: 100px;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    transition: all 1200ms ease-in-out;
    -webkit-transition: all 1200ms ease-in-out;
    will-change: transform;
    background: url(/new-style/images/purse-anim.png) no-repeat 100% / contain; // 100%/70% 100% no-repeat
}
.ice-anim {
    position: absolute;
    bottom: 50%;
    left: 5%;
    height: 60px;
    width: 60px;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    transition: all 1200ms ease-in-out;
    -webkit-transition: all 1200ms ease-in-out;
    will-change: transform;
    background: url(/new-style/images/ice-anim.png) no-repeat 100% / contain;
}
.bag-anim {
    position: absolute;
    bottom: 0%;
    left: -4%;
    height: 700px;
    width: 950px;
    -webkit-transform: translateX(-15%);
    transform: translateX(-15%);
    transition: all 1200ms ease-in-out;
    -webkit-transition: all 1200ms ease-in-out;
    will-change: transform;
    background: url(/new-style/images/bag-anim.png) no-repeat 100% / cover;
}
.penal-anim {
    position: absolute;
    bottom: 60%;
    left: 5%;
    height: 100px;
    width: 200px;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    transition: all 1200ms ease-in-out;
    -webkit-transition: all 1200ms ease-in-out;
    will-change: transform;
    background: url(/new-style/images/penal-anim.png) no-repeat 100% / contain;
}

.box-animations {
    position: relative;
    height: 120%;
}

.sm-box-anim {
    position: absolute;
    bottom: 33%;
    left: 5%;
    height: 220px;
    width: 235px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    transition: all 1200ms ease-in-out;
    -webkit-transition: all 1200ms ease-in-out;
    background: url(/new-style/images/sm-box-anim.png) no-repeat 100% / contain;
}

.big-box-anim {
    position: absolute;
    bottom: -15%;
    left: 5%;
    height: 300px;
    width: 400px;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    transition: all 1200ms ease-in-out;
    -webkit-transition: all 1200ms ease-in-out;
    background: url(/new-style/images/big-box-anim.png) no-repeat 100% / contain;
}

.mid-box-anim {
    position: absolute;
    bottom: 55%;
    left: 30%;
    height: 250px;
    width: 400px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    transition: all 1200ms ease-in-out;
    background: url(/new-style/images/mid-box-anim.png) no-repeat 100% / contain;
}

.fp-slidesContainer {
	width: 100%!important;
	transform: none!important;
}

.fp-slide {
	width: 100% !important;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 0;
	transition: all .7s ease-in-out;
}

.fp-slide.active {
	visibility: visible;
	opacity: 1;
	z-index: 1;
}

.item-info-mobile {
    display: none;
}

@keyframes move-smoke {
    0% {
        transform: translateX(70%) translateZ(0);
    }
    50% {
        transform: translateX(-25%) translateZ(0);
    }
    100% {
        transform: translateX(-50%) translateZ(0);
    }
}

.smoke-1-animation,
.smoke-2-animation {
    transform-origin: center bottom;
    animation: move-smoke 25s linear infinite;
}

@media (min-width: 720px) {

    .fp-viewing-0-0 .light-ellipse {
        opacity: 0;
    }
    
    .fp-viewing-0-0 .trees-left,
    .fp-viewing-0-1 .trees-left,
    .fp-viewing-0-2 .trees-left,
    .fp-viewing-0-3 .trees-left {
        opacity: 0;
    }

    .fp-viewing-0-0 .trees-right,
    .fp-viewing-0-1 .trees-right,
    .fp-viewing-0-2 .trees-right,
    .fp-viewing-0-3 .trees-right {
        opacity: 0;
    }
    
    .fp-viewing-1 .about-content .house-center {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    .fp-viewing-1 .trees-right,
    .fp-viewing-1 .trees-left,
    .fp-viewing-5 .trees-right,
    .fp-viewing-5 .trees-left {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    .fp-viewing-2 .trees-left,
    .fp-viewing-2 .trees-right {
        opacity: 0;
    }
    
    .fp-viewing-3 .trees-left,
    .fp-viewing-3 .trees-right {
        opacity: 0;
    }
    
    .slide.fp-slide {
        overflow: hidden;
    }

    .fp-viewing-2 .assortiment .penal-anim,
    .fp-viewing-2 .assortiment .purse-anim,
    .fp-viewing-2 .assortiment .ice-anim,
    .fp-viewing-2 .assortiment .bag-anim  {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    
    .fp-viewing-3 .cooperation .sm-box-anim,
    .fp-viewing-3 .cooperation .big-box-anim,
    .fp-viewing-3 .cooperation .mid-box-anim {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .item-category span {
        font-size: 32px;
    }

    .slider-actions-mobile {
        padding: 0 80px;
    }

    .mobile-buy {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .mobile-arrow-left, 
    .mobile-arrow-right {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 1199px) {
    .pasha-slide .item-title {
        margin-top: 190px;
    }

    .align-first-slide {
        justify-content: center;
    }
}

@media (max-width: 1450px) {

    .slider-arrows .arrow-left,
    .slider-arrows .arrow-right,
    .slider-arrows .current-number,
    .slider-arrows .total-number {
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    h3 {
        font-size: 90px;
    }

    .link-button {
        padding: 15px 18px;
    }

    .slider-item {
        width: 130px;
        height: 130px;
    }

    .slider-actions .relative-items {
        width: 130px;
        height: 130px;
    }
    
    .slider-actions .relative-items .relative-item__link a {
        font-family: "RobotoRegular", sans-serif;
        padding: 9px 10px;
        font-size: 15px;
    }

    .slider-actions .relative-items .relative-item__preview img {
        height: 90px;
    }

    .bag-anim {
        height: 500px;
        width: 750px;
        background: url(/new-style/images/bag-anim.png) no-repeat 100%/contain;
    }

}

@media (max-width: 1350px) { 

    .link-button {
        height: 45px;
    }

    .show-more__button,
    .add-item__button {
        font-size: 16px;
    }

    .link-button {
        padding: 12px 0;
    }
}

@media (max-width: 1199px) {
    .fp-slidesNav.fp-bottom,
    .slider-actions-mobile {
        visibility: visible;
    }

    .fp-viewing-0-0 .slider-actions-mobile {
        visibility: hidden;
    }

    .reset-margin-m {
        margin-left: 0;
        margin-right: 0;
    }

    .no-padding-m,
    .slider-content .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .logo img {
        width: 80%;
    }

    .slogan-image {
        width: 75%;
    }

    .sm-box-anim,
    .mid-box-anim,
    .big-box-anim,
    .bag-anim,
    .penal-anim,
    .purse-anim,
    .ice-anim,
    .slider-block,
    .slider-actions,
    .item-actions,
    .light-ellipse,
    .house-center,
    .trees-left,
    .trees-right,
    .smoke-1-animation,
    .smoke-2-animation {
        display: none;
    }

    .pasha-slide .pasha-medved {
        background-position-x: 18%;
        background-position-y: bottom;
        background-size: 140%;
    }
    
    .company-logo img {
        width: 35%;
    }

    .about-content .company-slogan {
        font-size: 18px;
    }

    .light-ellipse {
        height: 100%;
        background-position: top right;
    }

    .pasha-slide .item-title .brand {
        font-size: 100px;
        opacity: 1;
    }

    .item-info-mobile {
        display: block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 40%;
        z-index: 1;
        text-align: center;
    }

    .item-info-mobile .item-title span {
        font-size: 100px;
        line-height: 0.9;
    }

    .item-category span {
        font-family: "RobotoRegular", sans-serif;;
        font-size: 32px;
        color: #fff;
    }

    .item-price span {
        font-size: 34px;
        color: #fff;
    }

    .slider-content .item-image:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .2;
    }

    .slider-content .item-image.pasha-set-mobile {
        width: 100%;
        position: absolute;
        height: 100%;
        // background: url(/new-style/images/pasha-bear-2.png) no-repeat 0px 100%/cover;
        background: url(/new-style/images/pasha-bear-2.png) no-repeat 10% 30px / cover;
    }

    .slider-content .item-image.travel-bag-preview {
        width: 100%;
        position: absolute;
        height: 100%;
        background: url(/new-style/images/travel-bag.png) no-repeat 60%/cover;
        background-size: 100% 100%;
    }

    .slider-content .item-image.delovoy-rukzak-preview {
        width: 100%;
        position: absolute;
        height: 100%;
        background: url(/new-style/images/delovoy-rukzak.png) no-repeat 60%/cover;
    }
    
    .slider-content .item-image.big-bag-preview {
        width: 100%;
        position: absolute;
        height: 100%;
        background: url(/new-style/images/big-bag.png) no-repeat 60%/cover;
    }

    .slider-arrows .numbers,
    .relative-items {
        display: none;
    }

    h3 {
        font-size: 44px;
        text-align: center;
        margin-bottom: 20px;
    }

    .text-paragraph {
        text-align: center;
        font-size: 16px;
    }

    .section.assortiment .text-paragraph {
        margin-bottom: 30px
    }

    .assortiment .show-more__button {
        margin: 0 auto;
    }

    .ice-age .ice-bg {
        height: 50px;
    }

}

@media (max-width: 720px) {

    .item-category {
        margin-top: 20px;
    }

    .item-category span {
        font-size: 20px;
    }

    .item-price span {
        font-size: 22px;
    }
}

@media (max-width: 450px) {

    .item-info-mobile .item-title span {
        font-size: 65px;
    }
}

@media (max-width: 350px) {

    .item-category {
        padding: 0 30px;
    }

    .item-category span {
        font-size: 18px;
    }

    .pasha-slide .item-title .brand {
        font-size: 70px;
    }
}